<template>
    <div>
        <div v-if="!loading">
            <form @submit="checkForm" class="form frm task-frm">
                <div v-if="'id_task' in $route.params">
                    <h1 class="h1">Изменить задание</h1>
                </div>
                <div v-else>
                    <h1 class="h1">Создать задание</h1>
                </div>
                <div v-if="'id_group' in this.$route.params">
                    <input type="hidden" name="id_group" v-model="options.id_group"/>
                </div>
                <div class="f-row">
                    <label for="name-task" class="lbl">Название</label>
                    <input type="text" id="name-task" class="" v-model="options.name"/>
                </div>
                    <div class="f-row">
                        <div class="colarea">
                            <div class="col2">
                                <label for="time_pause" class="lbl">Пауза при показе чисел</label>
                                <vue-slider id="time_pause" ref="slider" v-bind="conf.time_pause"  v-model="options.time_pause"></vue-slider>
                            </div>
                            <div class="col2">
                                <label for="count_question" class="lbl">Кол-во заданий</label>
                                <vue-slider id="count_question" ref="slider" v-bind="conf.count_question"  v-model="options.count_question"></vue-slider>


                            </div>
                            <div class="col2">
                                <label for="count_numbers" class="lbl">Кол-во чисел в примере</label>
                                <vue-slider id="count_numbers" ref="slider" v-bind="conf.count_numbers"  v-model="options.count_numbers"></vue-slider>

                            </div>
                            <div class="col2">
                                <label for="len_numbers" class="lbl">Кол-во разрядов</label>
                                <vue-slider id="len_numbers" ref="slider" v-bind="conf.len_numbers"  v-model="options.len_numbers"></vue-slider>

                            </div>
                        </div>
                    </div>
                    <div class="f-row">
                        <label for="rules_five" class="lbl">Законы на 5:</label>
                        <multiselect id="rules_five" v-model="options.rules_five"
                                     :multiple="true"
                                     deselectLabel=""
                                     selectLabel=""
                                     selectedLabel=""
                                     label="name"
                                     track-by="val"
                                     :placeholder="conf.placeholder"
                                     :searchable="false"
                                     :options="conf.five_options">

                        </multiselect>


                    </div>
                    <div class="f-row">
                        <label for="rules_ten" class="lbl">Законы на 10:</label>
                        <multiselect id="rules_ten" v-model="options.rules_ten"
                                     :multiple="true"
                                     deselectLabel=""
                                     selectLabel=""
                                     selectedLabel=""
                                     label="name"
                                     track-by="val"
                                     :placeholder="conf.placeholder"
                                     :searchable="false"
                                     :options="conf.ten_options">

                        </multiselect>
                    </div>
                    <div class="f-row">
                        <label for="rules_ext" class="lbl">Умножение/деление:</label>
                        <multiselect id="rules_ten" v-model="options.rules_ext"
                                     :multiple="true"
                                     deselectLabel=""
                                     selectLabel=""
                                     selectedLabel=""
                                     label="name"
                                     track-by="val"
                                     :placeholder="conf.placeholder"
                                     :searchable="false"
                                     :options="conf.ext_options">

                        </multiselect>
                    </div>
                <div class="f-row t-center">
                    <input type="submit" value="Сохранить" class="btn">
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import axios from 'axios' ;
    import vueSlider from 'vue-slider-component';
    import Multiselect from 'vue-multiselect';
//    Vue.component('multiselect', Multiselect);

    export default {
        name: 'task-edit',
        data: function () {
            return {

                options: {
                    name:'',
                    id_group: '',
                    time_pause: 1,
                    count_question:10,
                    count_numbers: 2,
                    len_numbers: 1,
                    rules_five: null,
                    rules_ten: null,
                    rules_ext: null,
                },
                conf:{
                    placeholder: "Выберите правила",
                    five_options: [
                        {val: "five_-4", name: "-4 (-5+1)"},
                        {val: "five_-3", name: "-3 (-5+2)"},
                        {val: "five_-2", name: "-2 (-5+3)"},
                        {val: "five_-1", name: "-1 (-5+4)"},
                        {val: "five_1",  name: "1 (-4+5)" },
                        {val: "five_2",  name: "2 (-3+5)" },
                        {val: "five_3",  name: "3 (-2+5)" },
                        {val: "five_4",  name: "4 (-1+5)" },
                    ],
                    ten_options:[

                        {val: "ten_-9" , name: "+1 (-9+10)"},
                        {val: "ten_-8" , name: "+2 (-8+10)"},
                        {val: "ten_-7" , name: "+3 (-7+10)"},
                        {val: "ten_-6" , name: "+4 (-6+10)"},
                        {val: "ten_-5" , name: "+5 (-5+10)"},
                        {val: "ten_-4" , name: "+6 (-4+10)"},
                        {val: "ten_-3" , name: "+7 (-3+10)"},
                        {val: "ten_-2" , name: "+8 (-2+10)"},
                        {val: "ten_-1" , name: "+9 (-1+10)"},
                        {val: "ten_1"  , name: "-9 (-10+1)"},
                        {val: "ten_2"  , name: "-8 (-10+2)"},
                        {val: "ten_3"  , name: "-7 (-10+3)"},
                        {val: "ten_4"  , name: "-6 (-10+4)"},
                        {val: "ten_5"  , name: "-5 (-10+5)"},
                        {val: "ten_6"  , name: "-4 (-10+6)"},
                        {val: "ten_7"  , name: "-3 (-10+7)"},
                        {val: "ten_8"  , name: "-2 (-10+8)"},
                        {val: "ten_9"  , name: "-1 (-10+9)"}
                    ],
                    ext_options:[

                        {'val':'multi'      , 'name':"умножение"},
                    	{'val':'division'   , 'name':"деление"},

                    ],
                    time_pause:{
                        min: 1,
                        max: 10,
                        interval: .1,
                        disabled: false

                    },
                    count_question: {
                        min: 1,
                        max: 40,
                        interval: 1
                    },
                    count_numbers: {
                        min: 2,
                        max: 25,
                        interval: 1
                    },
                    len_numbers:{
                        min: 1,
                        max: 5,
                        interval: 1
                    }
                },
                loading: true
            }
        },
        components: {
            vueSlider,
            Multiselect
        },
        mounted() {

            if('id_group' in this.$route.params){
                this.options.id_group =this.$route.params.id_group;
            }else{
                alert('id_group not set');
            }

            let action = 'get-rules', dt = {};
            if('id_task' in this.$route.params){
                action='get';
                dt['id_task'] = this.$route.params.id_task;
            }

            axios.post('/api/task.php', {
                action : action,
                data: dt
            }).then(response => {

                this.conf.five_options = response.data.rules.five;
                this.conf.ten_options = response.data.rules.ten;
                this.conf.ext_options = response.data.rules.ext;



                if(('task' in response.data)){
                    this.options = response.data.task;

                    let rules ={five:{},ten:{}, ext:{} };

                    $.each(response.data.rules.five, function (ind, el) {
                        rules.five[el.val] = el.name;
                    });
                    $.each(response.data.rules.ten, function (ind, el) {
                        rules.ten[el.val] = el.name;
                    });
                    $.each(response.data.rules.ext, function (ind, el) {
                        rules.ext[el.val] = el.name;
                    });
                    console.log(rules);
                    let rules_five =[],
                        rules_ten = [],
                        rules_ext = [];
                    $.each(this.options.rules_five, function (ind, el) {
                        rules_five.push({name: rules.five[el], val: el});
                    });
                    $.each(this.options.rules_ten, function (ind, el) {
                        rules_ten.push({name: rules.ten[el], val: el});
                    });
                    $.each(this.options.rules_ext, function (ind, el) {
                        rules_ext.push({name: rules.ext[el], val: el});
                    });
                    this.options.rules_five = rules_five;
                    this.options.rules_ten = rules_ten;
                    this.options.rules_ext = rules_ext;
                }
                console.log(response);
                this.success = true;
            }).catch((error) => {
                console.log(error);
                this.errored = true;
            }).finally(() => (this.loading = false));

        },
        methods: {
            checkForm:function(e){

                let self = this;
                if(this.options.id_group!=='' && this.options.name!==''){
                    let task = {
                        count_numbers: this.options.count_numbers,
                        count_question:this.options.count_question,
                        id_group:this.options.id_group,
                        len_numbers:this.options.len_numbers,
                        time_pause:this.options.time_pause,
                        name:this.options.name,
                        rules_five:"",
                        rules_ten:"",
                        rules_ext:""
                    };

                    if('id_task' in this.options){
                        task. id_task = this.options.id_task;
                    }

                    console.log(this.options);

                    let rules_five =this.options.rules_five,
                        rules_ten = this.options.rules_ten,
                        rules_ext = this.options.rules_ext,
                        ar_rules_five =[],
                        ar_rules_ten = [],
                        ar_rules_ext = [];


                    console.log('---------rules_five--------');
                    console.log(rules_five);

                    $.each(rules_five,function(ind,el){
                        console.log('-------------el------------');
                        console.log(el);
                        console.log(el.val);
                        ar_rules_five.push(el.val);
                    });
                    $.each(rules_ten,function(ind,el){
                        ar_rules_ten.push(el.val);
                    });
                    $.each(rules_ext,function(ind,el){
                        ar_rules_ext.push(el.val);
                    });
                    task.rules_five = ar_rules_five.join(',');
                    task.rules_ten = ar_rules_ten.join(',');
                    task.rules_ext = ar_rules_ext.join(',');
                    console.log(task);

                    axios.post('/api/task.php', {
                        action : 'save',
                        data: task
                    }).then(response => {

                        console.log(self.$parent.$router);
                        if(!('id_task' in task) || ('id_task' in response.data)){
                            console.log(self.$parent);
                            self.$parent.$router.push({
                                name: "task-detail",
                                params: {
                                    'id_task': response.data.id_task,
                                    'id_group': task.id_group,
                                    'id_school': this.$route.params.id_school
                                }
                            });
                        }else{
                            //alert('Задание изменено');
                        }
                        console.log(response);
                        this.success = true;
                    }).catch((error) => {
                        console.log(error);
                        this.errored = true;
                    }).finally(() => (this.loading = false));


                }else{
                    alert("Ошибка, не указан номер группы или название задания ");
                }

                e.preventDefault();
            }
        }
    };
</script>
