<template>
    <div>
        <div v-if="!loading">
            <div class="header-panel">
            <h1 class="h1">{{ school.name }}</h1>
            <div v-if="school.active==='1'">Активна</div><div v-else>Заблокирована</div>

            <br>
                <div class="header-panel-right">
                    <router-link :to="{name:'school-edit', params: { id_school: $route.params.id_school }}">Изменить</router-link>

                </div>
            </div>

            <div class="tab-panel">
                <div class="tabs clearfix">
                    <div class="tab-a" v-for="(tab, ind_tab) in tabs" v-on:click="current_tab = ind_tab" v-bind:class="[ind_tab==current_tab?'select':'']">
                        {{tab}}
                    </div>
                </div>
                <div v-if="current_tab=='contacts'" class="tab school-contact school-block" v-bind:class="[current_tab=='contacts'?'select':'']">
                    <div class="tab-content">
                        <h2 class="h2">Контакты</h2>
                        <div>{{school.adress}}</div>
                        <div>{{school.phone}}</div>
                        <div></div>
                    </div>

                </div>
                <div class="tab school-admins school-block " v-else-if="current_tab=='units'" v-bind:class="[current_tab=='units'?'select':'']">
                    <div class="tab-content">
                        <h2 class="h2">Сотрудники</h2>

                        <h3 class="h3">Администраторы</h3>
                        <div v-for="admin in school.admins">
                            <router-link :to="{name:'user-detail', params: { id: admin.id_user }}">{{ admin.f_name }} {{ admin.l_name }}</router-link>
                        </div>

                        <h3 class="h3">Преподаватели</h3>
                        <div v-for="teach in school.teachs">
                            <router-link :to="{name:'user-detail', params: { id: teach.id_user }}">{{ teach.f_name }} {{ teach.l_name }}</router-link>
                        </div>

                        <div class="panel-footer-control">
                            <router-link :to="{name:'add-admin'}" class="btn btn__small">Добавить сотрудника</router-link>

                        </div>
                    </div>
                </div>
                <div class="tab school-groups school-block " v-else-if="current_tab=='groups'" v-bind:class="[current_tab=='groups'?'select':'']">


                        <table class="tbl" cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                               <th>Группа</th>
                               <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="group in groups">
                                    <td>
                                        <router-link :to="{name:'group-detail', params: {
                                    id: $route.params.id_school,
                                    id_group: group.id_group
                                }}">
                                            {{group.name}}
                                        </router-link>
                                    </td>
                                    <td><a v-on:click="delete_group(group.id_group, group.name)">удалить</a></td>
                                </tr>
                            </tbody>
                        </table>
                    <div class="tab-content">
                        <div class="panel-footer-control">
                            <router-link :to="{name:'group-add', params: { id_school: $route.params.id_school }}" class="btn btn__small">Добавить группу</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios' ;
    export default {
        name: 'school-detail',
        data: function () {
            return {
                loading: true,
                errored: false,
                school: null,
                groups: null,
                tabs:{
                    contacts:'Контакты',
                    units:'Сотрудники',
                    groups:'Группы',
                },
                current_tab: 'contacts'
            }
        },
        mounted() {
        let id_school =this.$route.params.id_school;
        this.id_school = id_school;
           this.load_school(id_school);
        },
        methods: {
            load_school: function(id_school){
                this.loading = true;
                axios.post('/api/school.php', {
                    action : 'get',
                    data: {id_school:id_school}
                }).then(response => {

                    console.log(response);
                    this.groups = response.data.groups;
                    this.school = response.data.school;
                }).catch((error) => {
                    console.log(error);
    //                    console.log(resp);
                    this.errored = true;
                }).finally(() => (this.loading = false));
            },
            delete_group: function(id_group, name){
                let bDelete = confirm('Удалить группу ' + name + '(' +id_group + ')?'),
                    self = this;
                if(bDelete){
                    axios.post('/api/group.php', {
                        action : 'delete-group',
                        data: {id_group:id_group}
                    }).then(response => {
                        self.load_school(self.id_school);
                        // console.log(response);
                        // this.groups = response.data.groups;
                        // this.school = response.data.school;
                    });
                }
            }
        }
    };
</script>