                              
                              
  body{
    -webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* Internet Explorer/Edge */
user-select: none;           /* Non-prefixed version, currently
  not supported by any browser */
}
.generator{
    /* display: grid;

    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem; */
}
.header-train{
    padding: 15px 0;
}
.header-train .h1{
    margin-top: 0;
}
.config {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.config::after{
    content: '';
    display: block;
    height: 95px;
}
.f-row{
    position: relative;

}
.f-row .select-all-panel {
    position: absolute;
    right: 0px;
    top: 15px;
}
.b-test,
.config{
    background: #4b2c8b;
    background: -moz-linear-gradient(45deg,  #6a428c 0%, #4b2c8b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #6a428c 0%,#4b2c8b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #6a428c 0%,#4b2c8b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a428c', endColorstr='#4b2c8b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



    color: #FFF;
    margin: 0;
    padding: 1px;
    min-height: 100vh;
}
.tabs{
    margin-top: 25px;
    text-align: left;
    font-size: 0;
    display: flex;
}
.tabs input + label{
    font-weight: bold;
    padding: 3px 7px;
    border: 1px solid transparent; 
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    display:block;
    cursor:pointer;
    text-transform: uppercase; 
     
}
.tabs input:checked + label{
    color: #4b2c8b;
    background-color: #FFF;
    border: 1px solid #FFF;
}
.tabs input{
    display: none;
}
.tabs-content {
    border: 1px solid rgba(255,255,255,.25);
    border-radius: 3px;
    padding: 5px 20px 25px 20px;
}
.tabs-content input[type="radio"]{
    display: none;
}
.tabs-content input[type="radio"] + label{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 3px;
    cursor:pointer;
    color: #4b2c8b;
    background-color: #FFF;
}
.tabs-content input[type="radio"]:checked + label{
    color: #4b2c8b;
    background-color: #FFF;
    border: 1px solid #FFF;

    background-color: #e0417b;
    color: #ffffff;
    border: 1px solid #e0417b;
}

.select2-container--default .select2-selection--multiple{
    background-color: rgba(255, 255, 255, 0.55);
    border-color: transparent;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
    background-color: rgba(255, 255, 255, 1);
    border-color: transparent;
}

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle{
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgb(224, 65, 123)), color-stop(100%, rgb(224, 65, 123)));
    background-image: -moz-linear-gradient(rgb(224, 65, 123), rgb(224, 65, 123));
    background-image: -webkit-linear-gradient(rgb(224, 65, 123), rgb(224, 65, 123));
    background-image: linear-gradient(rgb(224, 65, 123), rgb(224, 65, 123));
}
.rangeslider__handle{
    border: none;
    background: rgba(224, 65, 123,1);
}
.rangeslider__handle:after{
    background-color: #FFF;
}
.rangeslider--horizontal .rangeslider__caption{
    color: #4b2c8b;
    background-color: #FFF;
    font-weight: bold;
}
.rangeslider{
    background-color: rgba(255, 255, 255, 0.55);
}

.rangeslider__fill{
    background-color: #FFF;
}
.f-row{
    text-align: left;
}
.f-row .select-all-panel span{
    color: #FFF;
}

.f-row label,
.f-row label.lbl {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 15px 0 10px 0;
    text-align: left;
    font-weight: bold;
}
.config .h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.7em;
}
.list-result__simples{
    /*padding: 0 30px */
}

.f-row .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #e0417c;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #e0417c;
}

.btn{
    box-shadow: 0px 10px 14px -7px #e0417b;
    background-color:#e0417b;
    color:#ffffff;
    font-weight: bold;
    transition: .1s ease;
    background-image: none;
    padding: 14px 30px 13px 30px;
    font-size: 18px;
}
.btn:hover {
    background-color:#e0417b;
    box-shadow: 0px 0px 0px -7px transparent;
    background-image: none;
}
.list_question{
    border: 1px solid rgba(255,255,255,.25);
    border-radius: 3px;
    padding: 25px 20px 25px 20px;
    margin-top: 25px; 
}
.list_question > div{

    margin-bottom: 3px;
}
body::selection {
background: rgba(255,255,255,.4); /* Safari */
}
body::-moz-selection {
background: rgba(255,255,255,.4); /* Firefox */
}
