body,
body *{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}
body *, body *::after, body *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.f-row{
    margin: 10px 0 5px 0;
}
.f-row label{
    display: inline-block;
    vertical-align: middle;
    /*width: 200px;*/
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: .04em;
    font-weight: 600;
}
html, body{
    margin: 0;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
h2{
    line-height: 1.2;
    margin-bottom: 25px;
}
.h1{
    font-weight: 900;
    font-size: 3.5em;
}
.h2{
    font-weight: 900;
    font-size: 2.1em;
}
.content{
    padding: 15px 0 15px 0;
}
.header p{
    margin: 0;
}
.wrapper{
    max-width: 1280px;
    padding: 0 20px;
}
.colarea{
    font-size: 0;
}
.col2, .col4{
    display: inline-block;
    /*font-size: 14px;*/
    vertical-align: top;
}
.col2{
    width: 50%;

}
.col4{
    width: 25%;
}
.generator{ margin: 25px 0;}
.generator .col2{
    padding: 15px 0;
}
.f-row .colarea{
    margin: 0 -10px;
}
.f-row .col2{
    padding: 0 10px ;
}
.generator .col2.col-pdg:nth-child(2n+1){padding-right: 30px;border-right: 1px solid;}
.generator .col2.col-pdg:nth-child(2n){padding-left: 30px;}
.fstElement{
    width: 100%;
    font-size: 1em;
}
.fstMultipleMode .fstControls{
    width: auto;
}
.fstMultipleMode .fstQueryInput{
    font-size: 1em;
    color: #000;
}
.fstResultItem{
    font-size: 1em;
}
.fstChoiceItem{
    font-size: 1em;
}

.rng-inp{
    position: relative;
    padding: 0 0 25px 0;
}
.rng-inp .rangeslider--horizontal{
    z-index: 1;
}
.rng-lt{
    position: absolute;
    bottom: 0;
    font-size: 0.8em;
}
.rng-lt.min{left: 7px;}
.rng-lt.max{right: 7px;}
.rangeslider--horizontal{
    height: 10px;
}
.rangeslider__fill{
    background-color: #43A2F3;
}

.rangeslider--horizontal .rangeslider__handle{
    top: -5px;

}

.rangeslider--horizontal .rangeslider__caption{
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #43A2F3;
    font-size: 0.8em;
    line-height: 1;
    color: #FFF;
    padding: 2px 4px 3px 4px;
    border-radius: 2px;
}
.rangeslider__handle{
    width: 20px;
    height: 20px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

}

.rangeslider__handle:after{
    width: 8px;
    height: 8px;
}