/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before
	box-sizing: border-box

body
	font-size: 16px
	line-height: 1.6
	color: $black
	margin: 0
	padding: 0
	font-family: $base-ff
	font-weight: 400

a
	color: $black
	text-decoration: none

ol, ul
	list-style: none

.input
	font-family: $base-ff
	&[type="text"], &[type="tel"], &[type="email"], &[type="password"]
		-webkit-appearance: none
		border-radius: 0
		border: none
		background-color: transparent
		outline: none
	&[type="radio"], &[type="checkbox"]
		display: none

textarea
	font-family: $base-ff
	-webkit-appearance: none
	border-radius: 0
	border: none
	background-color: transparent
	outline: none
	resize: none

.table
	display: table

.tr
	display: table-row

.td, .th
	display: table-cell

.link
	cursor: pointer

.btn
	display: inline-block
	line-height: 1
	text-align: center
	cursor: pointer

@keyframes Gradient
	0%
		background-position: 0 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0 50%
@-webkit-keyframes Gradient
	0%
		background-position: 0 50%
	50%
		background-position: 100% 50%
	100%
		background-position: 0 50%


.gallery
	position: relative

.switch__tab
	cursor: pointer

.gallery__tab
	display: none
	&.active
		display: block
.row
	.col
		display: inline-block
		vertical-align: top
.alert-danger
	color: $red

a
	color: $blue
	outline: none
button,
input
	outline: none
input[type="text"],
input[type="password"],
input[type="email"],
select, select option
	background: $white
	border: 1px solid $grey
	border-radius: 100px
	text-align: center
	font-size: 18px
	padding: 13px 23px 10px 23px
	width: 100%
	outline: none
	font-weight: 400
	transition: .1s linear
	&:disabled
		border-color: transparent
		background-color: $grey
	&:focus
		border-color: $blue
	.error
		color: #FF0000
input[type="submit"]
	cursor: pointer
	outline: none
.t-center
	text-align: center
.tbl
	width: 100%
	margin: 25px 0
	border: 0
	thead
		th
			text-align: left
			background-color: $blue
			color: $white
	th, td
		padding: 3px 7px
	td
		border-bottom: 1px solid $grey-hover
.lbl
	text-transform: uppercase
	font-size: 14px
	//color: #000000
	letter-spacing: 0.6px
	text-align: center
.desc
	font-size: .8em
.h1
	margin-bottom: 15px
	margin-top: 25px
	font-size: 1.8em
	font-weight: 700
	line-height: 1
	&.logo
		font-size: 2.2em
		margin-bottom: 5px
.h2
	margin-top: 1em
	font-size: 1.4em
	font-weight: 700
.h3
	font-size: 1.1em
	margin-top: 1em
	margin-bottom: .5em
	font-weight: 700
	line-height: 1
.bx-title
	font-size: 2em
	margin-bottom: 1em
	font-weight: 500
.bread
	margin-top: 15px
	&+ .h1
		margin-top: 5px
.f-row
	margin: 20px 0
	text-align: center
.btn
	display: inline-block
	//background-image: linear-gradient(-123deg, $white-blue 0%, $blue 100%)
	background-image: linear-gradient(-90deg, $white-blue 0%, $blue 50%, $white-blue 100%)
	background-size: 200%
	background-position: 0 50%
	border-radius: 100px
	font-size: 20px
	font-weight: 400
	color: $white
	letter-spacing: 0.05em
	text-align: center
	text-transform: uppercase
	border: none
	padding: 14px 44px 13px 44px
	transition: .5s linear
	cursor: pointer
	&__small
		padding: 10px 15px 9px 15px
		font-size: 14px
		letter-spacing: 0
	&:hover
		animation: Gradient 2s ease infinite
		//background-image: linear-gradient(-123deg, $blue 0%, $white-blue 100%)
.link
	border-bottom: 1px solid
	&:hover
		border-bottom: 1px solid transparent
.full-page
	width: 100vw
	height: 100vh
	//background-image: linear-gradient(-123deg, $dark-blue 0%, $two-blue 100%)
	//color: $white
	position: fixed
	left: 0
	top: 0
	z-index: 1000
.alert
	margin: 0 0 25px 0
.bx-authform
	max-width: 360px
	margin: 0 auto
	position: absolute
	left: 0
	right: 0
	top: 50%
	transform: translateY(-50%)
	text-align: center
	.bx-authform-content-container
		font-size: 14px
	.bx-authform-formgroup-container
		padding-bottom: 25px
	a
		color: $white
	.bx-authform-psw-protected
		display: none
.wrapper
	padding: 0 25px
	margin: 0 auto
.frm
	.f-row-message
		margin-top: 10px
	.f-row
		margin-top: 20px
	.frm-content
		display: block
	.frm-message
		display: none
	&.sended
		.frm-content
			display: none
		.frm-message
			display: block
.f-error
	background-color: #FF0000
	color: #FFF
	padding: 5px
	display: none
.errors-message
	position: fixed
	left: 0
	right: 0
	bottom: 0
	background-color: #FF0000
	color: #FFF
	padding: 5px
.header
	position: fixed
	left: 0
	right: 0
	top: 0
	background-image: linear-gradient(-123deg, $dark-blue 2%, $two-blue 100%)
	color: $white
	padding: 20px 0
	z-index: 100
	a
		color: $white


	.logo-a
		float: left
		font-weight: 700
		font-size: 35px
		line-height: 1
		padding-right: 20px
		a
			color: $white
	.header-user
		float: right
		padding: 4px 0
		.user-name
			display: inline-block
			margin-right: 5px
	.header-menu
		padding: 4px 0
		menu
			list-style: none
			li
				display: inline-block
				padding: 0 10px
				a
					color: $white
	.header-content
		height: 71px
	.menu
		list-style: none
		margin: 0
		padding: 24px
		li
			display: inline-block
			font-size: 18px
			text-transform: none
			margin-right: 35px
			&:last-child
				margin-right: 0
			a
				color: $white
				font-weight: 400
				&.selected,
				&:hover
					color: $white-hover
.header-panel
	position: relative
	&-right
		position: absolute
		right: 0
		top: 0
#panel + .header
	position: relative
#panel + .header + .content
	padding-top: 0
.b-right
	float: right
.content
	padding-top: 120px
	margin: 20px

.article
	padding: 75px 0 0 0
.list
	list-style: none
	padding: 0
	margin: 0
	.row
		font-size: 0
		border-bottom: 1px solid $grey
		.col
			min-height: 0
			padding: 10px
			border-right: 1px solid $grey-hover
			font-size: $base-fs
			width: 25%
			vertical-align: top
			&:last-child
				border-right: none
		&.row-header
			color: $white
			background-color: $black-blue
			font-weight: 500
			.col
				border-right: 1px solid $white-border
.list-school
	.row-school
		height: 60px
		overflow: hidden
		.col
			min-height: 60px
		&:not(.row-school-header):hover
			background-color: $grey-hover
			transition: 0.1s linear
	.row-school,
	.row-school-header
		.col
			height: 100%
			//min-height: 60px
			&.col-school-name
				width: 15%
			&.col-school-phone
				width: 12.5%
			&.col-school-adress
				width: 27.5%
			&.col-school-admins
				width: 30%
			&.col-school-edit
				width: 10%
	.row-school-header
		color: $white
		background-color: $black-blue
		font-weight: 500
.center-frm-block
	position: absolute
	left: 50%
	top: 50%
	max-width: 500px
	transform: translate(-50%,-50%)
.tab-panel
	.tabs
		.tab-a
			float: left
			padding: 10px
			display: block
			border-style: solid
			border-color: $grey-hover
			border-width: 3px 1px 0 0
			color: $black-n-active
			font-weight: 600
			position: relative
			user-select: none
			&:hover
				cursor: pointer
			&::before
				content: ''
				left: -1px
				right: -1px
				top: -3px
				height: 3px
				position: absolute
				background-color: $two-blue
				transition: 0.15s linear
				transform: scale(0,1)
				transform-origin: 0 50%

			&:first-child
				border-left-width: 1px
			&:hover
				background-color: $grey-hover
			&.select
				color: $black
				&::before
					transform: scale(1,1)


	.tab
		border: 1px solid $grey-hover
		display: none
		position: relative
		& > .tbl
			margin: 0
		&.select
			display: block
		.tab-content
			padding: 20px
		.tab-ctrl
			position: absolute
			right: 0
			bottom: 100%
			a
				display: inline-block
				padding: 10px 0 10px 10px
				font-weight: 400


.frm
	text-align: center
	.lbl
		text-align: center
		display: block
		margin-bottom: 5px
		font-weight: 500
	.row
		margin-bottom: 25px
		input
			text-align: center
.modal-frm
	position: relative
	.col2
		&:first-child
			padding-right: 5px
		&:last-child
			padding-left: 5px
	.s-check
		margin: 5px 7px
		display: inline-block
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0
	input[type="checkbox"]
		display: none
		+ .lbl-check
			display: inline-block
			border: 2px solid $grey
			padding: 7px 15px 7px 15px
			border-radius: 100px
			text-transform: lowercase
			user-select: none
		&:checked
			+ .lbl-check
				border-color: $blue
				color: $blue

	.h2
		margin-bottom: 20px
.modal-content
	background: $white
	color: $black
	padding: 20px 15px
	text-align: left
	max-width: 865px
	margin: 0 auto
	position: relative
	border-radius: 20px
	.mfp-close
		font-size: 0
		opacity: 1
		right: 20px
		top: 20px
		width: 25px
		height: 25px
		&::before,
		&::after
			content: ''
			position: absolute
			left: 0
			top: 50%
			height: 2px
			width: 100%
			background-color: $black-blue
			transition: .5s linear
		&:hover
			&::before,
			&::after
				background-color: $dark-blue
		&::before
			transform: rotate(45deg)
		&::after
			transform: rotate(135deg)
.group-childs
	.tab-ctrl
.panel-head-control
	&__right
		float: right
.panel-footer-control
	margin-top: .5em
.task-frm
	max-width: 700px
	margin: 0 auto

.article
	.vue-slider-horizontal
		margin: 50px 0 25px
	.vue-slider-component
		.vue-slider-process
			background-color: $dark-blue
		.vue-slider-tooltip
			background-color: $dark-blue
			border-color: $dark-blue

.popup
	position: fixed
	left: 50%
	top: 50%
	transform: translate(-50%,-50%)
	padding: 20px
	z-index: 100
	background-color: $white
	box-shadow: 0 0 5px rgba(0,0,0,.3)
	border-radius: 5px
	.h2
		margin-top: 0
	.h3
		margin-top: 0
	.popup-close
		position: absolute
		right: 20px
		top: 20px
		width: 20px
		height: 20px
		cursor: pointer
		&:hover
			opacity: 0.6
		&::after,
		&::before
			content: ''
			top: 50%
			left: 0
			width: 100%
			border-bottom: 2px solid $dark-blue
			position: absolute
		&::after
			transform: rotate(-45deg)
		&::before
			transform: rotate(45deg)

.dt-th
	text-align: center
	line-height: 1
	font-weight: 600
	font-size: 13px
.dt-td
	text-align: center