.lbl
  text-transform: uppercase
  font-size: 14px
  //color: #000000
  letter-spacing: 0.6px
  text-align: center
.h1
  margin-bottom: 25px
.h3
  font-size: 1.4em
  margin-bottom: 1em
  font-weight: 600
  line-height: 1
.bx-title
  font-size: 2em
  margin-bottom: 1em
  font-weight: 500