<template>
    <div v-if="!loading">
        <form @submit="checkForm">
            <h1 class="h1 t-center" v-if="'id_school' in $route.params">Изменить школу<br>{{ school.name }}</h1>
            <h1 class="h1 t-center" v-else>Добавить школу</h1>
            <div class="f-row" v-for="(f_conf,field) in school_inputs">
                <div v-if="field in school">
                    <div v-if="f_conf.type !=='hidden'">
                        <div class="lbl">{{f_conf.label}}</div>
                        <div v-if="f_conf.type ==='select'">
                            <select v-model="school[field]">
                                <option v-for="(option, opt_id) in f_conf.variants" v-bind:value="opt_id">{{ option }}</option>
                            </select>
                        </div>
                        <div v-else-if="f_conf.type ==='checkbox'">
                             <input  type="checkbox"  true-value="1" false-value="0" v-bind:name="field" v-model="school[field]" v-bind:id="field">
                             <label v-bind:for="field">{{f_conf.label}}</label>
                        </div>
                        <div v-else>
                            <input type="text" v-bind:name="field" v-model="school[field]">
                        </div>
                    </div>
                    <div v-else>
                        <input type="hidden" v-bind:name="field" v-model="school[field]"/>
                    </div>
                </div>
            </div>
            <div v-if="errors.length">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div v-if="success">
                <p class="t-center">Данные успешно сохранены.</p>
            </div>
            <div class="f-row t-center">
                <input
                        type="submit"
                        value="Отправить"
                        class="btn"
                >
            </div>
        </form>
    </div>
</template>
<script>
    import axios from 'axios' ;
    export default {
        name: 'school-edit',
        data: function () {
            return {
                loading: true,
                errored: false,
                errors:[],
                success: false,
                school: null,
                school_inputs: {

                    id_school:{type:'hidden', label:""},
                    name:{type:'input-text', label:"Название"},
                    adress:{type:'input-text', label:"Адрес"},
                    phone:{type:'input-text', label:"Телефон"},
                    active:{type:'checkbox', label:"Активность"},


                }
            }
        },
        mounted() {
            if(this.$route.params.id_school){
                axios.post('/api/school.php', {
                    action : 'get',
                    data: {id_school:this.$route.params.id_school}
                }).then(response => {
                    console.log(response);


                    this.school = response.data.school;

                }).catch((error) => {
                    console.log(error);
//                    console.log(resp);
                    this.errored = true;
                }).finally(() => (this.loading = false));
            }else{
//                console.log(response);
                this.school = {
                    name: "",
                    adress: "",
                    phone: "",
                };
                this.loading = false;
            }
        },
        methods: {
            save:function (e) {
                alert('save');
                return false;
            },
            checkForm:function(e){
                // let self = this;
                this.success = false;
                this.errors = [];
                const self = this;
                let data_school = this.school;
                $.each(this.school_inputs, function(ind, conf){
                    if (ind !== 'id_user'){
                        console.log(ind);
                        if(ind in data_school){
                            if(data_school[ind].trim() ===''){
                                self.errors.push(`Требуется указать ${conf.label}`);
                            }else{
                                if(ind === 'email'){
                                    if (!self.validEmail(data_school[ind])) {
                                        self.errors.push('Укажите корректный адрес электронной почты.');
                                    }
                                }
                            }
                        }
                    }
                });


                console.log(data_school);

                if(!this.errors.length){
                    axios.post('/api/school.php', {
                        action : 'save',
                        data: data_school
                    }).then(response => {
                        console.log(response);
                        this.success = true;
                        self.$router.push({
                            name:  'school-detail',
                            params: {
                                id_school: response.data.id_school
                            }
                        });
                        
                    }).catch((error) => {
                        console.log(error);
                        this.errored = true;
                    }).finally(() => (this.loading = false));
                }
                e.preventDefault();
            }
        }
    };
</script>