<template>
    <header class="header" v-if="this.load_data_user">
        <div class="header-over">
            <div class="wrapper">
                <div class="logo-a">
                    <router-link  to="/">БУМ</router-link>
                </div>
                <div class="header-user">
                    <span class="user-name">
                         <router-link :to="{name: 'user-detail', params: { id: user.id_user }}">
                        {{ user.f_name }} {{ user.l_name }}
                         </router-link>
                    </span>
                    <a href="?logout=y" class="logout-link">Выйти</a>
                </div>
                <div class="header-menu">
                    <menu>
                        <li v-for="li in menu ">
                            <router-link :to="{ name: li.route.name, params: li.route.params}">{{li.name}}</router-link>
                        </li>
                    </menu>
                </div>
            </div>

        </div>
    </header>
</template>
<script>
    export default {
        data: function () {
          return {
              user: false,
              load_data_user: true,
              current_state: this.$route.path,
              menu: []
          }
        },
        name: 'header-view',
        mounted(){


            this.user = this.$parent.isAuth();

            console.log(this.user);

            let user = this.user,
                id_school = user.id_school;


            this.menu = (this.user.type == 1?
                    [
                        {'name':'Школы',        'route': {name:'school-list',} },
                        {'name':'Пользователи', 'route': {name:'user-list'}},
//                        {'name':'Задания', 'route':{name:'task-list'}},
                    ]:
                    (this.user.type == 2 ?
                            [
                                {'name':'Школа', 'route':{name: 'school-detail', params: {id_school:id_school}}}
                            ]
                            :(
                                user.type==3?
                                [{'name': 'Группы', 'route': { name: 'teach-group'}}]:
                                [{'name': 'Задания','route': { name: 'task-list'} }]
                            )
                    )
            );
            console.log(this.menu);
        },
        watch: {

            user: function(){
            }
        }
    };
</script>