<template>

    <div>
        <div v-if="!loading">
            <h1 class="h1">Пользователь {{ user.f_name }} {{ user.s_name}} {{ user.l_name}} </h1>

            <div v-if="user.active==1">Активен</div>
            <div v-else>Заблокирован</div>
            <div>
                <router-link :to="{name:'user-edit', params: { id: $route.params.id }}">Изменить</router-link>
            </div>
            <div>
                {{user.email}}
            </div>
            <div>
                <router-link :to="{name:'school-detail', params:{id_school:user.id_school}}">
                    {{schools[user.id_school]}}
                </router-link>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios' ;
    export default {
        name: 'user-detail',
        data: function () {
            return {
                loading: true,
                errored: false,
                user: null,
                groups: null,
                schools: null,
            }
        },
        mounted() {
            axios.post('/api/user.php', {
                action : 'get',
                data: {id_user:this.$route.params.id}
            }).then(response => {

                console.log(response);
                this.user = response.data.user;
                this.groups = response.data.groups;
                this.schools = response.data.schools;
                this.loading = false;
            }).catch((error) => {
                console.log(error);
//                    console.log(resp);
                this.errored = true;
            }).finally(() => (this.loading = false));
        }
    };
</script>