<template>
    <div>
        <div v-if="!loading">

            <div class="header-panel">
                <h1 class="h1">{{task.name}}</h1>
                <div class="header-panel-right">
                    <div v-if="type_user > 0  && type_user < 4 ">

                        <router-link :to="{name: 'task-edit',params: {id_school:$route.params.id_school,id_group: task.id_group, id_task:task.id_task}}" class="btn btn__small">

                            Изменить

                        </router-link>
                    </div>
                </div>
            </div>
            <!--<div>{{task.id_group}}</div>-->

            <div>Кол-во чисел: {{task.count_numbers}}</div>
            <div>Кол-во вопросов: {{task.count_question}} </div>
            <div>Пауза между вопросами: {{task.time_pause}}</div>

            <div>Кол-во разрядов: {{task.len_numbers}}</div>

             <h2 class="h2">
                 Правила
             </h2>


            <div  class="colarea" v-if="task.rules_five.length> 0 || task.rules_ten.length > 0  || task.rules_ext.length > 0">
                <div class="col2" v-if="task.rules_five.length> 0">
                    <h3 class="h3">Правила на 5</h3>
                    <div v-for="rule in task.rules_five">
                        {{rules.five[rule]}}
                    </div>
                </div>
                <div class="col2" v-if="task.rules_ten.length > 0">
                    <h3 class="h3">
                        Правила на 10
                    </h3>
                    <div v-for="rule in task.rules_ten">
                        {{rules.ten[rule]}}
                    </div>
                </div>
                <div class="col2" v-if="task.rules_ext.length > 0">
                    <h3 class="h3">Умножение/деление</h3>

                     <div v-for="rule in task.rules_ext">
                          {{rules.ext[rule]}}
                     </div>

                 </div>
            </div>
            <div v-else>
                Нет правил
            </div>

            <div class="btn-control">
                <a v-bind:href="testHref" class="btn" target="_blank">Пройти тест</a>
            </div>

            <div v-if="answers.results.length">
                <table class="tbl" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Фамилия, Имя</th>
                        <th>Правильные ответы</th>
                        <th>Ошибки</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr v-for="answer in answers.results">


                        <td>{{answers.users[answer.id_user].l_name}} {{answers.users[answer.id_user].f_name}} </td>
                        <td>{{answer.valid_answer}}</td>
                        <td>{{answer.error_answer}}</td>
                        <td>{{answer.percent_result}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>


            <!--{{answers}}-->

        </div>
        <div v-else>
            Загрузка...
        </div>
    </div>
</template><script>
    import axios from 'axios' ;

    export default {
        name: 'task-detail',
        data: function () {
            return {
                testHref: '',
                loading: true,
                task: null,
                type_user: 0

            }
        },
        mounted() {
            axios.post('/api/task.php', {
                action : 'get-full',
                data: {id_task:this.$route.params.id_task}
            }).then(response => {
                console.log(response);
                this.task = response.data.task;
                this.answers = response.data.answers;
                let rules = {five:{}, ten: {}, ext:{}};



                $.each(response.data.rules.five, function (ind, el) {
                    rules.five[el.val] = el.name;
                });
                $.each(response.data.rules.ten, function (ind, el) {
                    rules.ten[el.val] = el.name;
                });

                $.each(response.data.rules.ext, function (ind, el) {
                    rules.ext[el.val] = el.name;
                });
                this.rules = rules;
                this.testHref = '/training/?task='+ response.data.task.id_task;
                this.loading = false;
            }).catch((error) => {
                console.log(error);
                this.errored = true;
            }).finally(() => (this.loading = false));
            if(this.$parent.load_data_user){
                this.type_user = parseInt(this.$parent.user.type);
            }
            console.log(this.$parent);
        }
    };




</script>