<template>
    <div>
        HELLO
        {{user}}
    </div>
</template>
<script>
    export default {
        name: 'main-page',
        data: function () {
            return {
                test: false,
                user: {}
            }
        },
        mounted() {
            console.log('[[[[[[[[[[[[[' + this.$parent.user.type);


            this.user = this.$parent.user;
            if(this.$parent.user.type==1){
                this.$parent.$router.push({
                    name: "school-list",
                });
            }else if(this.$parent.user.type==2){
                this.$parent.$router.push({
                    name: "school-detail",
                    params: {
                        'id_school': this.$parent.user.id_school
                    }
                });
            }else if(this.$parent.user.type==3){
                this.$parent.$router.push({
                    name: 'teach-group'
                });
            }else if(this.$parent.user.type==4){
                this.$parent.$router.push({
                    name: 'task'
                });
            }
        }
    };
</script>