@import var

body *,
body *::after,
body *::before
  -webkit-box-sizing:  border-box
  -moz-box-sizing:  border-box
  box-sizing:  border-box
body,
html
  margin: 0


body,
input[type="text"],
input[type="password"],
input[type="email"]
  font-size: $base-fs
html, body, input, textarea, select, option
  font-family: $base-ff
body
  min-width: 320px
img
  display:  block
  max-width:  100%
a
  text-decoration: none
h1,h2,h3,h4,h5
  margin: 0
.mm
  margin: 0px auto
.colarea
  font-size: 0
.col1, .col2, .col3, .col45, .col23, .col25, .col34, .col4, .col5, .col6, .col7, .col8
  display: inline-block
  vertical-align: top
  font-size: 20px
  padding:  0
.col1
  width: 100%
.col45
  width: 80%
.col34
  width: 75%
.col23
  width: 66.66%
.col25
  width: 40%
.col2
  width: 50%
.col3
  width: 33.33%
.col4
  width: 25%
.col5
  width: 20%
.col6
  width: 16.66%
.col7
  width: 14.28%
.col8
  width: 12.5%
.cb
  clear: both
.upper
  text-transform:  uppercase
.low
  text-transform:  lowercase
.n-margin
  margin: 0
.t-left
  text-align: left
.t-right
  text-align: right
.t-center
  text-align:  center
.clearfix
  &::after
    display:  block
    clear:  both
    content:  ''
.show-tb
  display: none
@media all and (max-width: $break-point-tablet)
  .hide-tb
    display: none
  .show-tb
    display: block
@media all and (max-width: $break-point-mobile)
  .hide-mb
    display: none
.btn-control
  padding-top: 10px

.btn
  display: inline-block
  padding: 10px 20px
  background-color: $blue
  color: $white
  font-size: 1em
  text-transform: uppercase
  border-radius: 2em
  letter-spacing: .05em
  border: 1px solid $blue
  &:hover
    background-color: $blue-hover
    border-color: transparent
    cursor: pointer
input[type="text"]
  border-radius: 0
  border-style: solid
  border-color: $blue-hover
  border-width: 0 0 2px 0
  background-color: transparent
  outline: none
  &:focus
    border-color: $blue

