@import var
body
  font-family: $base-ff
  font-size: $base-fs
  *
    font-family: $base-ff
    font-size: $base-fs
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    &::after, &::before
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
.f-row
  margin: 10px 0 5px 0
  label
    display: inline-block
    vertical-align: middle
    margin: 20px 0 10px 0
    text-transform: uppercase
    font-size: 0.8em
    letter-spacing: .04em
    font-weight: 600
html, body, h1, h2, h3, h4, h5
  margin: 0
h2
  line-height: 1.2
  margin-bottom: 25px
.h1
  font-weight: 900
  font-size: 3.5em
.h2
  font-weight: 900
  font-size: 2.1em
.content
  padding: 15px 0 15px 0
.header
  .logo
    float: left
    padding-right: 10px
  p
    margin: 0
    padding: 1.4em
    line-height: 1
.footer
  padding: 20px 0
  text-align: center
.wrapper
  max-width: $max-width
  padding: 0 $step-margin
  margin: 0 auto
.colarea
  font-size: 0
.generator
  margin: 25px 0
  .col2
    padding: 15px 20px
.f-row
  .colarea
    margin: 0 -10px
  .col2
    padding: 0 10px
.generator .col2.col-pdg
  &:nth-child(2n+1)
    //padding-right: 30px
    //border-right: 1px solid
  &:nth-child(2n)
    //padding-left: 30px
  &+.col2
    border-left: 1px solid
.fstElement
  width: 100%
  font-size: 1em
.fstMultipleMode
  .fstControls
    width: auto
  .fstQueryInput
    font-size: 1em
    color: $black
.fstResultItem, .fstChoiceItem
  font-size: 1em
.rng-inp
  position: relative
  padding: 0 0 25px 0
  .rangeslider--horizontal
    z-index: 1
.rng-lt
  position: absolute
  bottom: 0
  font-size: 0.8em
  &.min
    left: 7px
  &.max
    right: 7px
.rangeslider--horizontal
  height: 10px
.rangeslider__fill
  background-color: $blue
.rangeslider--horizontal
  .rangeslider__handle
    top: -5px
  .rangeslider__caption
    position: absolute
    top: 23px
    left: 50%
    transform: translateX(-50%)
    background-color: $blue
    font-size: 0.8em
    line-height: 1
    color: $white
    padding: 2px 4px 3px 4px
    border-radius: 2px
.rangeslider__handle
  width: 20px
  height: 20px
  -moz-box-shadow: 0 0 4px $black-grey
  -webkit-box-shadow: 0 0 4px $black-grey
  box-shadow: 0 0 4px $black-grey
  &:after
    width: 8px
    height: 8px
.content
  .b-test
    display: none
    .b-frame
      display: none
      width: 100vw
      height: 100vh
      padding: $step-margin
      text-align: center
      &.b-timer
        font-weight: 700
        &, *
          font-size: 20vh
          line-height: 1
      &.b-quest
        font-weight: 700
        .big-num
          font-size: 45vh
          line-height: 1
      &.b-answer
        //font-size: 20vh
        input[type="text"]
          font-size: 5em
          text-align: center
      &.b-answer-valid
        font-weight: 700
        .result-answer
          font-size: 10vh
          &.error
            color: $red
        .result-answer-value
          font-size: 8vh
      &.b-result
        font-size: 1.5em
        font-weight: 700
        .b-result-test
          margin: 35px 0 50px 0
        .b-count_samples,
        .b-count_corrects,
        .b-count_error
          font-size: 1.5em
          span
            font-size: 1em
        .b-count_corrects
          color: $green
        .b-count_error
          color: $red
        .result-percent
          margin: 25px 0 0 0
          font-size: 2em
      &.active
        display: block
  .config
  &.test
    .b-test
      display: block
    .config
      display: none
