<template>
    <div>
    <div v-if="!loading">
        <form @submit="checkForm">
            <h1 class="h1 t-center" v-if="'id' in $route.params">Изменить пользователя<br>{{ user.f_name }} {{ user.l_name }}</h1>
            <h1 class="h1 t-center" v-else>Добавить пользователя</h1>
            <div class="f-row" v-for="(f_conf,field) in user_inputs">
                <div v-if="field in user" >
                    <div v-if="f_conf.type !=='hidden'">
                        <div class="lbl">{{f_conf.label}}</div>
                        <div v-if="f_conf.type ==='select'">
                            <select v-model="user[field]" :disabled="field in $route.params ? true : false">
                                <option v-for="(option, opt_id) in f_conf.variants" v-bind:value="opt_id">{{ option }}</option>
                            </select>
                        </div>
                        <div v-else-if="f_conf.type ==='checkbox'">
                            <input  type="checkbox"  true-value="1" false-value="0" v-bind:name="field" v-model="user[field]" v-bind:id="field">
                            <label v-bind:for="field">{{f_conf.label}}</label>
                        </div>
                        <div v-else>
                            <input type="text" v-bind:name="field" v-model="user[field]"  >
                        </div>
                    </div>
                    <div v-else>
                        <input type="hidden" v-bind:name="field" v-model="user[field]"/>
                    </div>
                </div>
            </div>
            <div v-if="errors.length">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div v-if="success">
                <p class="t-center">Данные успешно сохранены.</p>
            </div>
            <div class="f-row t-center">
                <input
                        type="submit"
                        value="Сохранить"
                        class="btn"
                >
            </div>
        </form>
    </div>
    <div v-if="errored">
        Ошибка
    </div>
    </div>
</template>
<script>
    import axios from 'axios' ;
    export default {
        name: 'user-edit',
        data: function () {
            return {
                loading: true,
                errored: false,
                errors:[],
                success: false,
                user: null,
                user_inputs: {
                    id_user:{type:'hidden', label:"Имя"},
                    id_group:{type:'hidden', label:"Имя"},
                    f_name:{type:'input-text', label:"Имя"},
                    l_name:{type:'input-text', label:"Фамилия"},
                    s_name:{type:'input-text', label:"Отчество"},
                    email: {type:'input-email', label:"E-mail"},
                    type:  {type:'select', label:"Тип", variants:{}},
                    id_school:  {type:'select', label:"Школа", variants:{}},
                    active: {type: 'checkbox', label:"Активен"}
                },
                groups: null
            }
        },
        mounted() {
            if(this.$route.params.id){
                axios.post('/api/user.php', {
                    action : 'get',
                    data: {id_user:this.$route.params.id}
                }).then(response => {
                    console.log(response);
                    this.user = response.data.user;
                    this.groups = response.data.groups;
                    this.schools = response.data.schools;
                    this.user_inputs.type.variants = response.data.groups;
                    this.user_inputs.id_school.variants = response.data.schools;
                    this.loading = false;
                }).catch((error) => {
                    console.log(error);
                    this.errored = true;
                }).finally(() => (this.loading = false));
            }else{
                axios.post('/api/user.php', {
                    action : 'get-groups',
                    data: {}
                }).then(response => {
                    console.log(response);
                    this.groups = response.data.groups;
                    this.user_inputs.type.variants = response.data.groups;
                    this.schools = response.data.schools;
                    this.user_inputs.id_school.variants = response.data.schools;
                    this.user = {
                        f_name: "",
                        l_name: "",
                        s_name: "",
                        type: "4",
                        email: "",
                        id_school:"",
                        active: "0"
                    };
                    if('id_school' in  this.$route.params){
                        this.user['id_school'] = this.$route.params.id_school;
                        delete this.user_inputs.type.variants[1];

                    }
                    if('id_group' in  this.$route.params){
                        this.user['id_group'] = this.$route.params.id_group;
                    }
                    this.loading = false;
                }).catch((error) => {
                    console.log(error);
                    this.errored = true;
                }).finally(() => (this.loading = false));
            }
        },
        methods: {
            save:function (e) {
                alert('save');
                return false;
            },
            checkForm:function(e){
                this.success = false;
                this.errors = [];
                const self = this;
                let data_user = this.user;
                $.each(this.user_inputs, function(ind, conf){
                    if (ind !== 'id_user'){
                        console.log(ind);
                        if(ind in data_user){

                            console.log(data_user[ind]);

                            if(ind!=='active'){

                                if(data_user[ind].trim() ===''){
                                    self.errors.push(`Требуется указать ${conf.label}`);
                                }else{
                                    if(ind === 'email'){
                                        if (!self.validEmail(data_user[ind])) {
                                            self.errors.push('Укажите корректный адрес электронной почты.');
                                        }
                                    }
                                }
                            }


                        }
                    }
                });

                if(!this.errors.length){
                    axios.post('/api/user.php', {
                        action : 'save',
                        data: data_user
                    }).then(response => {

                        // if(!('id_user' in data_user) && ('id_user' in response)){
                        //     router.push({
                        //         path: "user-edit",
                        //         params: {
                        //             'id': id
                        //         }
                        //     })
                        // }else{

                        // }
                        console.log(response);
                        this.success = true;
                        self.$router.push({
                            name:  'user-detail',
                            params: {
                                // id_school: response.data.id_school,
                                id: response.data.id_user
                            }
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.errored = true;
                    }).finally(() => (this.loading = false));
                }
                e.preventDefault();
            },
            validEmail: function (email) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    };
</script>