<template>
    <div>
        <h1 class="h1">Задания</h1>

       <table class="tbl" >
            <tr v-for="task in tasks">
                                <td>{{task.name}} </td>
                                <td>{{task.count_question}}</td>
                                <td>{{task.time_pause}}</td>
                                <td>{{task.count_numbers}}</td>
                                <td>{{task.len_numbers}}</td>
                                <td>
                                   <a :href="'/training/?task='+task.id_task" target="_blank">
                                   Пройти тест
                                   
                                   </a> 
                                </td>
                            </tr>
       </table>
    </div>
</template>
<script>
import axios from 'axios' ;
export default {
        name: 'task',
        data: function () {
            return {
                loading: true,
                test: false,
                id_group: null ,
                tasks: {}
            }
        },
        mounted() {
            this.user = this.$parent.user;
            console.log(this.user);

            axios.post('/api/group.php',{
                action: 'get-group-by-user',
                data:{id_user:this.user.id_user }
            }).then(response => {
                this.id_group = response.data.group.id_group;
                axios.post('/api/task.php',{
                    'action':'get-by-group',
                    data: {
                        id_group: this.id_group
                    }
                }).then(response_1 => {

                    console.log(response_1);


                    this.tasks =response_1.data.tasks;
                }).catch((error) => {
                    console.log(error);
                    this.errored = true;
                }).finally(() => (this.loading = false));
            }).catch((error) => {
                 console.log(error);
                 this.errored = true;
            }).finally(() => (this.loading = false));






        }
    };

</script>