<template>
   <div>
       <header-view v-if="this.load_data_user"></header-view>
       <div class="wrapper">
           <transition name="fade">
           <router-view v-if="this.load_data_user"></router-view>
           <div v-else>
               Загрузка...
           </div>
           </transition>
       </div>
   </div>
</template>
<script>
    import axios from 'axios';
    import Header from  '../../components/header/index.vue';
    export default {
        name: 'app',
        data: function () {
            return {
                user: undefined,
                load_data_user:false
            };
        },
        components:{
            'header-view':Header
        },
        mounted() {
            axios.post('/api/user.php', {
                action : 'get-user',
                data: {is_sample_prop:'prop_value'}
            }).then(response => {
                this.user = response.data;
                this.load_data_user = true;

            }).catch((error) => {
                console.log(error);
                this.errored = true;
            }).finally(() => (this.loading = false));
        },
        methods:{
            isAuth: function () {
                return (this.load_data_user? this.user:false);
            }
        },

    };
</script>