.row {
  font-size: 0; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  display: inline-block;
  vertical-align: top; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 1025px) {
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1440px) {
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; } }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table !important; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table !important; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table !important; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table !important; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 1025px) and (max-width: 1439px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table !important; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }

body *,
body *::after,
body *::before {
  box-sizing: border-box; }

body,
html {
  margin: 0; }

body,
input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 16px; }

html, body, input, textarea, select, option {
  font-family: "Source Sans Pro", sans-serif; }

body {
  min-width: 320px; }

img {
  display: block;
  max-width: 100%; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.mm {
  margin: 0px auto; }

.colarea {
  font-size: 0; }

.col1, .col2, .col3, .col45, .col23, .col25, .col34, .col4, .col5, .col6, .col7, .col8 {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  padding: 0; }

.col1 {
  width: 100%; }

.col45 {
  width: 80%; }

.col34 {
  width: 75%; }

.col23 {
  width: 66.66%; }

.col25 {
  width: 40%; }

.col2 {
  width: 50%; }

.col3 {
  width: 33.33%; }

.col4 {
  width: 25%; }

.col5 {
  width: 20%; }

.col6 {
  width: 16.66%; }

.col7 {
  width: 14.28%; }

.col8 {
  width: 12.5%; }

.cb {
  clear: both; }

.upper {
  text-transform: uppercase; }

.low {
  text-transform: lowercase; }

.n-margin {
  margin: 0; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-center {
  text-align: center; }

.clearfix::after {
  display: block;
  clear: both;
  content: ''; }

.show-tb {
  display: none; }

@media all and (max-width: 760px) {
  .hide-tb {
    display: none; }
  .show-tb {
    display: block; } }

@media all and (max-width: 740px) {
  .hide-mb {
    display: none; } }

.btn-control {
  padding-top: 10px; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2D3ED5;
  color: #FFF;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 2em;
  letter-spacing: .05em;
  border: 1px solid #2D3ED5; }
  .btn:hover {
    background-color: rgba(67, 162, 243, 0.68);
    border-color: transparent;
    cursor: pointer; }

input[type="text"] {
  border-radius: 0;
  border-style: solid;
  border-color: rgba(67, 162, 243, 0.68);
  border-width: 0 0 2px 0;
  background-color: transparent;
  outline: none; }
  input[type="text"]:focus {
    border-color: #2D3ED5; }

/*---------GENERAL SETTINGS-------*/
body *,
body *:after,
body *::before {
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

a {
  color: #000;
  text-decoration: none; }

ol, ul {
  list-style: none; }

.input {
  font-family: "Source Sans Pro", sans-serif; }
  .input[type="text"], .input[type="tel"], .input[type="email"], .input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    background-color: transparent;
    outline: none; }
  .input[type="radio"], .input[type="checkbox"] {
    display: none; }

textarea {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  resize: none; }

.table {
  display: table; }

.tr {
  display: table-row; }

.td, .th {
  display: table-cell; }

.link {
  cursor: pointer; }

.btn {
  display: inline-block;
  line-height: 1;
  text-align: center;
  cursor: pointer; }

@keyframes Gradient {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

.gallery {
  position: relative; }

.switch__tab {
  cursor: pointer; }

.gallery__tab {
  display: none; }
  .gallery__tab.active {
    display: block; }

.row .col {
  display: inline-block;
  vertical-align: top; }

.alert-danger {
  color: #FF0000; }

a {
  color: #2D3ED5;
  outline: none; }

button,
input {
  outline: none; }

input[type="text"],
input[type="password"],
input[type="email"],
select, select option {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  padding: 13px 23px 10px 23px;
  width: 100%;
  outline: none;
  font-weight: 400;
  transition: .1s linear; }
  input[type="text"]:disabled,
  input[type="password"]:disabled,
  input[type="email"]:disabled,
  select:disabled, select option:disabled {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.15); }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  select:focus, select option:focus {
    border-color: #2D3ED5; }
  input[type="text"] .error,
  input[type="password"] .error,
  input[type="email"] .error,
  select .error, select option .error {
    color: #FF0000; }

input[type="submit"] {
  cursor: pointer;
  outline: none; }

.t-center {
  text-align: center; }

.tbl {
  width: 100%;
  margin: 25px 0;
  border: 0; }
  .tbl thead th {
    text-align: left;
    background-color: #2D3ED5;
    color: #FFF; }
  .tbl th, .tbl td {
    padding: 3px 7px; }
  .tbl td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.lbl {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: center; }

.desc {
  font-size: .8em; }

.h1 {
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1; }
  .h1.logo {
    font-size: 2.2em;
    margin-bottom: 5px; }

.h2 {
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: 700; }

.h3 {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: .5em;
  font-weight: 700;
  line-height: 1; }

.bx-title {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 500; }

.bread {
  margin-top: 15px; }
  .bread + .h1 {
    margin-top: 5px; }

.f-row {
  margin: 20px 0;
  text-align: center; }

.btn {
  display: inline-block;
  background-image: linear-gradient(-90deg, #0189FF 0%, #2D3ED5 50%, #0189FF 100%);
  background-size: 200%;
  background-position: 0 50%;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border: none;
  padding: 14px 44px 13px 44px;
  transition: .5s linear;
  cursor: pointer; }
  .btn__small {
    padding: 10px 15px 9px 15px;
    font-size: 14px;
    letter-spacing: 0; }
  .btn:hover {
    animation: Gradient 2s ease infinite; }

.link {
  border-bottom: 1px solid; }
  .link:hover {
    border-bottom: 1px solid transparent; }

.full-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000; }

.alert {
  margin: 0 0 25px 0; }

.bx-authform {
  max-width: 360px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }
  .bx-authform .bx-authform-content-container {
    font-size: 14px; }
  .bx-authform .bx-authform-formgroup-container {
    padding-bottom: 25px; }
  .bx-authform a {
    color: #FFF; }
  .bx-authform .bx-authform-psw-protected {
    display: none; }

.wrapper {
  padding: 0 25px;
  margin: 0 auto; }

.frm .f-row-message {
  margin-top: 10px; }

.frm .f-row {
  margin-top: 20px; }

.frm .frm-content {
  display: block; }

.frm .frm-message {
  display: none; }

.frm.sended .frm-content {
  display: none; }

.frm.sended .frm-message {
  display: block; }

.f-error {
  background-color: #FF0000;
  color: #FFF;
  padding: 5px;
  display: none; }

.errors-message {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF0000;
  color: #FFF;
  padding: 5px; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(-123deg, #010289 2%, #1D30D5 100%);
  color: #FFF;
  padding: 20px 0;
  z-index: 100; }
  .header a {
    color: #FFF; }
  .header .logo-a {
    float: left;
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
    padding-right: 20px; }
    .header .logo-a a {
      color: #FFF; }
  .header .header-user {
    float: right;
    padding: 4px 0; }
    .header .header-user .user-name {
      display: inline-block;
      margin-right: 5px; }
  .header .header-menu {
    padding: 4px 0; }
    .header .header-menu menu {
      list-style: none; }
      .header .header-menu menu li {
        display: inline-block;
        padding: 0 10px; }
        .header .header-menu menu li a {
          color: #FFF; }
  .header .header-content {
    height: 71px; }
  .header .menu {
    list-style: none;
    margin: 0;
    padding: 24px; }
    .header .menu li {
      display: inline-block;
      font-size: 18px;
      text-transform: none;
      margin-right: 35px; }
      .header .menu li:last-child {
        margin-right: 0; }
      .header .menu li a {
        color: #FFF;
        font-weight: 400; }
        .header .menu li a.selected, .header .menu li a:hover {
          color: rgba(255, 255, 255, 0.7); }

.header-panel {
  position: relative; }
  .header-panel-right {
    position: absolute;
    right: 0;
    top: 0; }

#panel + .header {
  position: relative; }

#panel + .header + .content {
  padding-top: 0; }

.b-right {
  float: right; }

.content {
  padding-top: 120px;
  margin: 20px; }

.article {
  padding: 75px 0 0 0; }

.list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list .row {
    font-size: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .list .row .col {
      min-height: 0;
      padding: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      font-size: 16px;
      width: 25%;
      vertical-align: top; }
      .list .row .col:last-child {
        border-right: none; }
    .list .row.row-header {
      color: #FFF;
      background-color: #060D4E;
      font-weight: 500; }
      .list .row.row-header .col {
        border-right: 1px solid rgba(255, 255, 255, 0.15); }

.list-school .row-school {
  height: 60px;
  overflow: hidden; }
  .list-school .row-school .col {
    min-height: 60px; }
  .list-school .row-school:not(.row-school-header):hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.1s linear; }

.list-school .row-school .col,
.list-school .row-school-header .col {
  height: 100%; }
  .list-school .row-school .col.col-school-name,
  .list-school .row-school-header .col.col-school-name {
    width: 15%; }
  .list-school .row-school .col.col-school-phone,
  .list-school .row-school-header .col.col-school-phone {
    width: 12.5%; }
  .list-school .row-school .col.col-school-adress,
  .list-school .row-school-header .col.col-school-adress {
    width: 27.5%; }
  .list-school .row-school .col.col-school-admins,
  .list-school .row-school-header .col.col-school-admins {
    width: 30%; }
  .list-school .row-school .col.col-school-edit,
  .list-school .row-school-header .col.col-school-edit {
    width: 10%; }

.list-school .row-school-header {
  color: #FFF;
  background-color: #060D4E;
  font-weight: 500; }

.center-frm-block {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 500px;
  transform: translate(-50%, -50%); }

.tab-panel .tabs .tab-a {
  float: left;
  padding: 10px;
  display: block;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-width: 3px 1px 0 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .tab-panel .tabs .tab-a:hover {
    cursor: pointer; }
  .tab-panel .tabs .tab-a::before {
    content: '';
    left: -1px;
    right: -1px;
    top: -3px;
    height: 3px;
    position: absolute;
    background-color: #1D30D5;
    transition: 0.15s linear;
    transform: scale(0, 1);
    transform-origin: 0 50%; }
  .tab-panel .tabs .tab-a:first-child {
    border-left-width: 1px; }
  .tab-panel .tabs .tab-a:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .tab-panel .tabs .tab-a.select {
    color: #000; }
    .tab-panel .tabs .tab-a.select::before {
      transform: scale(1, 1); }

.tab-panel .tab {
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: none;
  position: relative; }
  .tab-panel .tab > .tbl {
    margin: 0; }
  .tab-panel .tab.select {
    display: block; }
  .tab-panel .tab .tab-content {
    padding: 20px; }
  .tab-panel .tab .tab-ctrl {
    position: absolute;
    right: 0;
    bottom: 100%; }
    .tab-panel .tab .tab-ctrl a {
      display: inline-block;
      padding: 10px 0 10px 10px;
      font-weight: 400; }

.frm {
  text-align: center; }
  .frm .lbl {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-weight: 500; }
  .frm .row {
    margin-bottom: 25px; }
    .frm .row input {
      text-align: center; }

.modal-frm {
  position: relative; }
  .modal-frm .col2:first-child {
    padding-right: 5px; }
  .modal-frm .col2:last-child {
    padding-left: 5px; }
  .modal-frm .s-check {
    margin: 5px 7px;
    display: inline-block; }
    .modal-frm .s-check:first-child {
      margin-left: 0; }
    .modal-frm .s-check:last-child {
      margin-right: 0; }
  .modal-frm input[type="checkbox"] {
    display: none; }
    .modal-frm input[type="checkbox"] + .lbl-check {
      display: inline-block;
      border: 2px solid rgba(0, 0, 0, 0.15);
      padding: 7px 15px 7px 15px;
      border-radius: 100px;
      text-transform: lowercase;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .modal-frm input[type="checkbox"]:checked + .lbl-check {
      border-color: #2D3ED5;
      color: #2D3ED5; }
  .modal-frm .h2 {
    margin-bottom: 20px; }

.modal-content {
  background: #FFF;
  color: #000;
  padding: 20px 15px;
  text-align: left;
  max-width: 865px;
  margin: 0 auto;
  position: relative;
  border-radius: 20px; }
  .modal-content .mfp-close {
    font-size: 0;
    opacity: 1;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px; }
    .modal-content .mfp-close::before, .modal-content .mfp-close::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      height: 2px;
      width: 100%;
      background-color: #060D4E;
      transition: .5s linear; }
    .modal-content .mfp-close:hover::before, .modal-content .mfp-close:hover::after {
      background-color: #010289; }
    .modal-content .mfp-close::before {
      transform: rotate(45deg); }
    .modal-content .mfp-close::after {
      transform: rotate(135deg); }

.panel-head-control__right {
  float: right; }

.panel-footer-control {
  margin-top: .5em; }

.task-frm {
  max-width: 700px;
  margin: 0 auto; }

.article .vue-slider-horizontal {
  margin: 50px 0 25px; }

.article .vue-slider-component .vue-slider-process {
  background-color: #010289; }

.article .vue-slider-component .vue-slider-tooltip {
  background-color: #010289;
  border-color: #010289; }

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 100;
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px; }
  .popup .h2 {
    margin-top: 0; }
  .popup .h3 {
    margin-top: 0; }
  .popup .popup-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .popup .popup-close:hover {
      opacity: 0.6; }
    .popup .popup-close::after, .popup .popup-close::before {
      content: '';
      top: 50%;
      left: 0;
      width: 100%;
      border-bottom: 2px solid #010289;
      position: absolute; }
    .popup .popup-close::after {
      transform: rotate(-45deg); }
    .popup .popup-close::before {
      transform: rotate(45deg); }

.dt-th {
  text-align: center;
  line-height: 1;
  font-weight: 600;
  font-size: 13px; }

.dt-td {
  text-align: center; }

.school-block {
  margin: 0 0; }

fieldset[disabled] .multiselect {
  pointer-events: none; }

.multiselect__spinner {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
  background: #fff;
  display: block; }
  .multiselect__spinner:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #010289 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent; }
  .multiselect__spinner:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-color: #010289 transparent transparent;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;
    animation: a 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite; }
  .multiselect__spinner:after {
    animation: a 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite; }

.multiselect__loading-enter-active, .multiselect__loading-leave-active {
  transition: opacity .4s ease-in-out;
  opacity: 1; }

.multiselect__loading-enter, .multiselect__loading-leave-active {
  opacity: 0; }

.multiselect, .multiselect__input, .multiselect__single {
  font-family: inherit;
  font-size: 16px;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.multiselect {
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  text-align: left;
  color: #35495e; }
  .multiselect * {
    box-sizing: border-box; }
  .multiselect:focus {
    outline: none; }

.multiselect--disabled {
  opacity: .6; }

.multiselect--active {
  z-index: 1; }
  .multiselect--active:not(.multiselect--above) .multiselect__current, .multiselect--active:not(.multiselect--above) .multiselect__input, .multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .multiselect--active .multiselect__select {
    transform: rotate(180deg); }

.multiselect--above.multiselect--active .multiselect__current, .multiselect--above.multiselect--active .multiselect__input, .multiselect--above.multiselect--active .multiselect__tags {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.multiselect__input, .multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  padding: 0 0 0 5px;
  width: 100%;
  transition: border .1s ease;
  box-sizing: border-box;
  margin-bottom: 8px;
  vertical-align: top; }

.multiselect__input:-ms-input-placeholder, .multiselect__input:-ms-input-placeholder {
  color: #35495e; }

.multiselect__input:-ms-input-placeholder, .multiselect__input::placeholder {
  color: #35495e; }

.multiselect__input, .multiselect__single {
  width: auto; }

.multiselect__input:hover, .multiselect__single:hover {
  border-color: #cfcfcf; }

.multiselect__input:focus {
  border-color: #a8a8a8;
  outline: none; }

.multiselect__single {
  padding-left: 5px;
  margin-bottom: 8px; }
  .multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none; }

.multiselect__tags-wrap {
  display: inline; }

.multiselect__tags {
  min-height: 40px;
  display: block;
  padding: 8px 40px 0 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px; }

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  line-height: 1;
  background: #010289;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis; }

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 7px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: normal;
  width: 22px;
  text-align: center;
  line-height: 22px;
  transition: all .2s ease;
  border-radius: 5px; }
  .multiselect__tag-icon:after {
    content: "\D7";
    color: #FFF;
    font-size: 14px; }
  .multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: #010289; }
  .multiselect__tag-icon:focus:after, .multiselect__tag-icon:hover:after {
    color: #fff; }

.multiselect__current {
  min-height: 40px;
  overflow: hidden;
  padding: 8px 12px 0;
  padding-right: 30px;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  line-height: 16px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  text-decoration: none;
  cursor: pointer; }

.multiselect__select {
  line-height: 16px;
  box-sizing: border-box;
  display: block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 38px;
  right: 1px;
  top: 1px;
  padding: 4px 8px;
  text-align: center;
  transition: transform .2s ease; }
  .multiselect__select:before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #999 transparent transparent;
    content: ""; }

.multiselect__placeholder {
  color: #adadad;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 2px; }

.multiselect--active .multiselect__placeholder {
  display: none; }

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  max-height: 240px;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }

.multiselect__content {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  min-width: 100%;
  vertical-align: top; }

.multiselect--above .multiselect__content-wrapper {
  bottom: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  border-top: 1px solid #e8e8e8; }

.multiselect__content::webkit-scrollbar {
  display: none; }

.multiselect__element {
  display: block; }

.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap; }
  .multiselect__option:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px; }

.multiselect__option--highlight {
  background: #010289;
  outline: none;
  color: #fff; }
  .multiselect__option--highlight:after {
    content: attr(data-select);
    background: #010289;
    color: #fff; }

.multiselect__option--selected {
  background: #f3f3f3;
  color: #35495e;
  font-weight: 700; }
  .multiselect__option--selected:after {
    content: attr(data-selected);
    color: silver; }
  .multiselect__option--selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff; }
    .multiselect__option--selected.multiselect__option--highlight:after {
      background: #ff6a6a;
      content: attr(data-deselect);
      color: #fff; }

.multiselect--disabled {
  background: #ededed;
  pointer-events: none; }
  .multiselect--disabled .multiselect__current, .multiselect--disabled .multiselect__select {
    background: #ededed;
    color: #a6a6a6; }

.multiselect__option--disabled {
  background: #ededed !important;
  color: #a6a6a6 !important;
  cursor: text;
  pointer-events: none; }

.multiselect__option--group {
  background: #ededed;
  color: #35495e; }
  .multiselect__option--group.multiselect__option--highlight {
    background: #35495e;
    color: #fff; }
    .multiselect__option--group.multiselect__option--highlight:after {
      background: #35495e; }

.multiselect__option--disabled.multiselect__option--highlight {
  background: #dedede; }

.multiselect__option--group-selected.multiselect__option--highlight {
  background: #ff6a6a;
  color: #fff; }
  .multiselect__option--group-selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    content: attr(data-deselect);
    color: #fff; }

.multiselect-enter-active, .multiselect-leave-active {
  transition: all .15s ease; }

.multiselect-enter, .multiselect-leave-active {
  opacity: 0; }

.multiselect__strong {
  margin-bottom: 8px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top; }

[dir=rtl] .multiselect {
  text-align: right; }

[dir=rtl] .multiselect__select {
  right: auto;
  left: 1px; }

[dir=rtl] .multiselect__tags {
  padding: 8px 8px 0 40px; }

[dir=rtl] .multiselect__content {
  text-align: right; }

[dir=rtl] .multiselect__option:after {
  right: auto;
  left: 0; }

[dir=rtl] .multiselect__clear {
  right: auto;
  left: 12px; }

[dir=rtl] .multiselect__spinner {
  right: auto;
  left: 1px; }

.lesson-edit .mx-input-append {
  right: 10px; }

@keyframes a {
  0% {
    transform: rotate(0); }
  to {
    transform: rotate(2turn); } }
