<template>
    <div v-if="!loading">


        <table class="tbl" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>Группа</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="group in groups">
                <td> <router-link :to="{name:'group-detail', params: {
                                    id: group.id_school,
                                    id_group: group.id_group
                                }}">
                    {{group.name}}
                </router-link>
                </td>

            </tr>


            </tbody>
        </table>

    </div>
    <div v-else>
        Загрузка...
    </div>
</template>
<script>
    import axios from 'axios' ;
    export default {
        name: 'teach-group',
        data: function () {
            return {
                loading: true,
                test: false,
                groups: {}
            }
        },
        mounted() {

            axios.post('/api/group.php',{
                'action':'list-teacher',
                data: {
                    id_teacher: this.$parent.user.id_user
                }
            }).then(response => {


                this.groups =response.data.items;

            }).catch((error) => {
                console.log(error);
                this.errored = true;
            }).finally(() => (this.loading = false));





        }
    };

</script>