<template>
    <div>

        <div v-if="!loading">
            <div class="header-panel">
                <div class="bread">

                    <div v-if="user.type>3"> <router-link :to="{name:'school-detail', params: { id_school: school.id_school }}">{{school.name}}</router-link></div>
                </div>
                <h1 class="h1">{{group.name}}</h1>
                <div class="header-panel-right"><router-link :to="{name:'group-edit', params: { id_school: school.id_school, id_group: group.id_group }}">Изменить</router-link></div>
            </div>
            <h2 class="h2">Преподаватель</h2>
            <div>
                {{school.teachs[group.id_teacher].f_name}} {{school.teachs[group.id_teacher].s_name}} {{school.teachs[group.id_teacher].l_name}}
            </div>
            <br>
            <div class="tab-panel">
                <div class="tabs clearfix">
                    <div class="tab-a" v-for="(tab, ind_tab) in tabs" v-on:click="current_tab = ind_tab" v-bind:class="[ind_tab==current_tab?'select':'']">
                        {{tab}}
                    </div>
                </div>
                <div v-if="current_tab=='log'" class="tab school-contact school-block" v-bind:class="[current_tab=='log'?'select':'']">

                    <div v-if="!loading_lesson">
                    <div class="tab-content">

                        <div>
                            <button class="button btn btn__small" v-on:click="add_lesson">Добавить урок</button>
                        </div>


                    </div>

                    <table class="tbl" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th>Ученик</th>
                            <th v-for="les in lessons">
                               <div class="dt-th">
                                   {{les[2]}}.{{les[1]}}<br>
                                   {{les[0]}}
                               </div>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(child, id_child) in childs">
                                <td>{{child.name}}</td>
                                <td v-for="(les, ind ) in lessons" class="dt-td" >
                                    <input
                                            type="checkbox"
                                            v-model="lessons_user"
                                            v-bind:value="id_child + '_' +  ind "
                                            v-on:change="change_less_user(id_child, ind)"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div v-else>
                        Загрузка...
                    </div>

                </div>
                <div v-else-if="current_tab=='task'" class="tab school-contact school-block" v-bind:class="[current_tab=='task'?'select':'']">

                            <table v-if="tasks.length > 0" class="tbl" cellspacing="0" cellpadding="0">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Кол-во вопросов</th>
                                    <th>Время паузы, сек.</th>
                                    <th>Кол-во чисел в примере</th>
                                    <th>Разрядность чисел</th>
                                    <th>Изменить</th>
                                </tr>

                                </thead>

                            <tbody>


                            <tr v-for="task in tasks">
                                <td>
                                    <router-link :to="{name:'task-detail', params: {
                                        id_school: school.id_school,id_group: group.id_group, id_task: task.id_task
                                    }}">{{task.name}}</router-link>


                                </td>
                                <td>{{task.count_question}}</td>
                                <td>{{task.time_pause}}</td>
                                <td>{{task.count_numbers}}</td>
                                <td>{{task.len_numbers}}</td>
                                <td>
                                    <router-link :to="{name: 'task-edit',params: {id_school:$route.params.id_school,id_group: task.id_group, id_task:task.id_task}}">
                                        Изменить
                                    </router-link>
                                </td>
                            </tr>
                            </tbody>
                            </table>


                    <div class="tab-content">

                        <div class="panel-footer-control">
                            <router-link :to="{name: 'task-add',params: {id_school:school.id_school,id_group: group.id_group }}" class="btn btn__small">
                                Добавить задание
                            </router-link>
                        </div>
                    </div>
                </div>
                <div v-else-if="current_tab=='childs'" class="tab school-contact school-block" v-bind:class="[current_tab=='childs'?'select':'']">


                            <table class="tbl" cellspacing="0" cellpadding="0">
                                <thead>
                                <tr>
                                    <th>Ученик</th>
                                    <th>E-mail</th>
                                    <th>Изменить</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(child, id_child) in childs">
                                        <td>{{child.name}}</td>
                                        <td>{{child.email}}</td>
                                        <td>
                                            <router-link :to="{name:'group-edit-child',params: {id:id_child, id_school:school.id_school, id_group: group.id_group, type: 4}}">
                                                Изменить
                                            </router-link>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    <div class="panel-footer-control">
                            <div class="tab-content">

                            <div>
                                <router-link :to="{name: 'group-add-child',params: {id_school:school.id_school,id_group: group.id_group,type: 4}}" class="btn btn__small">
                                    Добавить ученика
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="lesson_edit" class="popup lesson-edit">
            <div class="popup-close" v-on:click="close_popup"></div>

            <h3 class="h3">Урок</h3>
            <div class="f-row">
                <date-picker v-model="time_lesson" format="DD-MM-YYYY" type="date" lang="ru"></date-picker>
            </div>
            <div class="f-row t-center">
                <button class="button btn btn__small" v-on:click="add_less">Сохранить</button>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios' ;
    import DatePicker from 'vue2-datepicker';


    export default {
        name: 'group-detail',
        data: function () {
            return {
                time_lesson:null,
                loading: true,
                loading_lesson: true,
                errored: false,
                lesson_edit: false,
                errors:[],
                success: false,
                group: null,
                tasks: null,
                teacher:{},
                lessons: {},
                user: this.$parent.user,
                lessons_user:{},
                tabs:{
                    log:'Журнал',
                    task:'Задания',
                    childs:'Ученики',
                },
                current_tab: 'log',
                group_inputs: {
                    id_group:{type:'hidden', label:""},
                    id_school:{type:'hidden', label:""},
                    name:{type:'input-text', label:"Название"},
                    id_teacher:{type:'select', label:"Преподаватель", variants:{}},
                }
            }
        },
        components: {
            DatePicker
        },
        mounted() {
            console.log(this.$route.params );
            if(this.$route.params.id_group){
                axios.post('/api/group.php', {
                    action : 'get-full',
                    data: {id_group:this.$route.params.id_group}
                }).then(response => {
                    console.log(response);
                    this.group = response.data.group;
                    this.school = response.data.school;
                    this.childs = response.data.childs;
                    this.tasks = response.data.tasks;
                    this.lessons = response.data.lessons;
                    this.lessons_user = response.data.lessons_user;
                    this.loading = false;
                }).catch((error) => {
                    console.log(error);
                    this.errored = true;
                }).finally(() => {
                    this.loading_lesson = false;
                    this.loading = false;
                });
            }else{
                this.errored = true;
            }
        },
        watch: {
//            lessons: function(val){
//                let self = this;
//                $.each(self.lessons, function (l_ind, l_el) {
//                    $.each(self.childs, function(c_ind, c_el){
//                        let child_less = c_ind+ '_' + l_ind;
//                        if(!(child_less in self.lessons_user))
//                            self.lessons_user[child_less] = 0;
//                    });
//                });
//                return self.lessons_user;
//            }
        },
        methods: {
            change_less_user: function(id_child, id_less,){
                let child_less = id_child +'_'+ id_less,
                    aData ={
                        id_user:id_child,
                        id_lesson:id_less,
                        id_group: this.$route.params.id_group,
                        //val: this.lessons_user
                    };



                let ret_fnd =false;
                $.each(this.lessons_user, function(ind, el){
                    if(el == child_less ){
                        ret_fnd = true;
                    }
                });

                console.log(this.lessons_user);
                console.log(ret_fnd);
                console.log(child_less);

                let val = (ret_fnd);
                aData['val'] = val;

                axios.post('/api/lessons.php', {
                    action: 'edit-user-lesson',
                    data: aData
                }).then(response => {
                    console.log('resp');
                    console.log(response);
                }).catch((error) => {
                    console.log(error);
                });
            },
            add_less: function(){
                let tm_lesson  = [
                    this.time_lesson.getFullYear() , '-' ,
                    this.time_lesson.getMonth()+1 , '-' ,
                    this.time_lesson.getDate()
                ].join('');
                let oSend =  {
                    date_lesson:  tm_lesson,
                    id_group: this.$route.params.id_group
                };
                axios.post('/api/lessons.php', {
                    action : 'add-lesson',
                    data: oSend
                }).then(response => {
                    let id_lesson = response.data.id_lesson;
                    this.lessons[id_lesson] = tm_lesson;
                   console.log(response);
                   location.reload();
                }).catch((error) => {
                    console.log(error);
                    this.errored = true;
                }).finally(() => (this.loading = false));

            },
            add_lesson:function(){
                this.lesson_edit = !this.lesson_edit;
            },
            close_popup: function () {
                this.lesson_edit = false;
            }

        }
    };
</script>