<template>
    <div>

        <div class="panel-head-control clearfix">
            <div class="panel-head-control__right">
                <router-link :to="{name:'school-add'}" class="btn btn__small">Добавить школу</router-link>
            </div>
            <h1 class="h1">Школы</h1>


        </div>




        <div v-if="this.len > 0">
            <table class="tbl" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Активность</th>
                    <th>Адрес</th>
                    <th>Телефон</th>
                    <th></th>

                </tr>

                </thead>
                <tbody>


                <tr v-for="item in items">
                    <td>
                        <router-link :to="{name:'school-detail', params: { id_school: item.id_school }}">
                            {{ item.name }}
                        </router-link>
                    </td>
                    <td><div v-if="item.active==='1'">Да</div><div v-else>Нет</div></td>
                    <td>{{ item.adress }}</td>
                    <td>{{ item.phone }}</td>
                    <td><a v-on:click="delete_school(item.id_school, item.name)">удалить</a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

</template>

<script>
    import axios from 'axios' ;
    export default {
        name: 'school-list',
        data: function () {
            return {
                count: 0,
                info: null,
                loading: true,
                errored: false,
                items: null,
                groups: null,
                len: 0
            }
        },
        mounted() {
            axios.post('/api/school.php', {
                action : 'list',
                data: {is_sample_prop:'prop_value'}
            }).then(response => {
                this.items = response.data.items;
                this.len = Object.keys(response.data.items).length;
                this.groups = response.data.groups;
            }).catch((error) => {
                console.log(error);
//                    console.log(resp);
                this.errored = true;
            }).finally(() => (this.loading = false));
        },
        methods:{
            delete_school: function(id_school, name){

                let bDelete = confirm('Удалить школу ' + name + '(' + id_school + ')?');

                if(bDelete){
                     axios.post('/api/school.php', {
                        action : 'delete-school',
                        data: {id_school:id_school}
                    }).then(response => {
                        console.log(response);
                        location.reload();
                    });
                }
            }
        }
    };
</script>