<template>

    <div>
        <div class="panel-head-control clearfix">
            <div class="panel-head-control__right">
                <router-link :to="{name:'user-add'}" class="btn btn__small">Добавить пользователя</router-link>
            </div>
            <h1 class="h1">Пользователи</h1>

        </div>
        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>
        <section v-else>
            <div v-if="loading">Loading...</div>
            <div v-else>




                <div v-if="this.len > 0">


                <table class="tbl" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>E-mail</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Тип</th>
                            <th>Активность</th>
                            <th>Школа</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items" v-bind:data-id="item.id_user" class="user-row">
                                <td>
                                    <router-link :to="{name:'user-detail', params: { id: item.id_user }}">
                                    {{ item.email }}
                                    </router-link>
                                </td>
                                <td>{{ item.f_name }}</td>
                                <td>{{ item.l_name }}</td>
                                <td>{{ groups[item.type] }}</td>
                                <td>
                                    <div v-if="item.active==1">Да</div>
                                    <div v-else>Заблокирован</div>
                                </td>
                                <td>{{ schools[item.id_school] }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div v-else>
                    <p class="t-center">Список пользователей пуст.</p>
                </div>

            </div>
        </section>

    </div>

</template>
<script>
    import axios from 'axios' ;
    export default {
        name: 'user-list',
        data: function () {
            return {
                count: 0,
                info: null,
                loading: true,
                errored: false,
                items: null,
                groups: null,
                schools: null,
                len: 0
            }
        },
        mounted() {
            axios.post('/api/user.php', {
                action : 'list',
                data: {is_sample_prop:'prop_value'}
            }).then(response => {
                this.items = response.data.items;
                this.len = Object.keys(response.data.items).length;
                this.groups = response.data.groups;
                this.schools = response.data.schools;
            }).catch((error) => {
                console.log(error);
//                    console.log(resp);
                this.errored = true;
            }).finally(() => (this.loading = false));
        }
    };
</script>