<template>

    <div v-if="!loading">
        <form @submit="checkForm">

            <h1 class="h1 t-center" v-if="'id_group' in $route.params">Изменить группу<br>{{ group.name }}</h1>
            <h1 class="h1 t-center" v-else>Добавить группу</h1>
            <div class="f-row" v-for="(f_conf,field) in group_inputs">
                <div v-if="field in group">
                    <div v-if="f_conf.type !=='hidden'">
                        <div class="lbl">{{f_conf.label}}</div>
                        <div v-if="f_conf.type ==='select'">
                            <select v-model="group[field]">
                                <option v-for="(option, opt_id) in f_conf.variants" v-bind:value="opt_id">{{ option }}</option>
                            </select>
                        </div>
                        <div v-else>
                            <input type="text" v-bind:name="field" v-model="group[field]">
                        </div>
                    </div>
                    <div v-else>
                        <input type="hidden" v-bind:name="field" v-model="group[field]"/>
                    </div>
                </div>
            </div>
            <div v-if="errors.length">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div v-if="success">
                <p class="t-center">Данные успешно сохранены.</p>
            </div>
            <div class="f-row t-center">
                <input
                        type="submit"
                        value="Отправить"
                        class="btn"
                        v-on:click="checkForm"
                >
            </div>
        </form>
    </div>
</template>
<script>
    import axios from 'axios' ;
    export default {
        name: 'group-edit',
        data: function () {
            return {
                loading: true,
                errored: false,
                errors:[],
                success: false,
                group: null,
                teacher:{},
                group_inputs: {
                    id_group:{type:'hidden', label:""},
                    id_school:{type:'hidden', label:""},
                    name:{type:'input-text', label:"Название"},
                    id_teacher:{type:'select', label:"Преподаватель", variants:{}},
                }
            }
        },
        mounted() {
            // console.log('--------this.$route.params' );
            // console.log(this.$route.params );

            let route_param = this.$route.params,
                id_school = route_param.id_school;

            //if(id_group in)
            if('id_group' in route_param){
                axios.post('/api/group.php', {
                    action : 'get',
                    data: {id_group: route_param.id_group}
                }).then(response => {
                    console.log(response);

                    this.group = response.data.group;
                    this.group_inputs.id_teacher.variants = response.data.users;

                }).catch((error) => {
                    console.log(error);
                    this.errored = true;
                }).finally(() => (this.loading = false));
            }else{

                axios.post('/api/group.php',{
                    action:'get-school-type-users',
                    data: {
                        id_school: id_school,
                        type: "3"
                    }
                }).then(response => {
                    console.log(response);
                    this.group = {
                        name: "",
                        id_school:id_school,
                        id_teacher:""
                    };

                    this.group_inputs.id_teacher.variants = response.data.users;
                    this.loading = false;
                }).catch((error) => {
                    console.log(error);
                    this.errored = true;
                }).finally(() => (this.loading = false));



            }
        },
        methods: {
            save:function (e) {
                alert('save');
                return false;
            },
            checkForm:function(e){
                this.success = false;
                this.errors = [];
                const self = this;
                let data_group = this.group;
                $.each(this.group_inputs, function(ind, conf){
                    if (ind !== 'id_user'){
                        console.log(ind);
                        if(ind in data_group){

                            if(ind !='id_school'){
                                data_group[ind] = data_group[ind].trim();
                            }
                            if(data_group[ind] ===''){
                                self.errors.push(`Требуется указать ${conf.label}`);
                            }
                        }
                    }
                });

                if(!this.errors.length){
                    axios.post('/api/group.php', {
                        action : 'save',
                        data: data_group
                    }).then(response => {
                        console.log(response);
                        this.success = true;
                        self.$router.push({
                            name:  'group-detail',
                            params: {
                                id_school: response.data.id_school,
                                id_group: response.data.id_group
                            }
                        });
                    }).catch((error) => {
                        console.log(error);
                        this.errored = true;
                    }).finally(() => (this.loading = false));
                }
                e.preventDefault();
            }
        }
    };
</script>